body{
    background-color: antiquewhite;
}
*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display:flex;
    background-color: black;
    height:50px;
    color: white;
    
}
.tags{
    display: flex;
    width: 200px;
    justify-content: space-around;
    padding-top: 15px;
    
}
a{
    color: white;
    text-decoration:none ;
}
.bottomnav{
    position: sticky;
    display: flex;
    background-color: black;
    height: 70px;
    color: white;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
#pause{
    margin-top: 35px;
    color: blue;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.icons{
    cursor: pointer;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 13px;
    padding: 34px;
    background-image:url("music-microphone-treble-clef-wallpaper-preview.jpg");
    
}
.songitem{
    display: flex; justify-content: space-around; align-items: center;background-color: white; border-radius: 28rem; width: 380px; padding-block: 10px;
    
    

}
.image{
height: 40px; width: 40px; overflow: hidden; border-radius: 50%;
}
.timestamp{
    margin: 0 23px;
}
 i{
    cursor: pointer;
    margin-right: 15px;
}
.songitemcontainer{
    margin-top: 40px;
}
.gif{
    height: 15px;
    transition: opacity 2s ease-in;
    
}
.songinfo{
    position: fixed;
    left: 10vw;
}
p{
    color: black;
}
.timing{
    display: flex; align-items: center; gap: 8px;color: black;
}